<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="/assets/js/script.min.js?h=4e4c11c0af46a2ec09a8fd9a87a4c097"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <script type="application/javascript">
        const WebApp = window.Telegram.WebApp;
        WebApp.expand(); //расширяем на все окно
        WebApp.MainButton.text = "ЗАКРЫТЬ";
        WebApp.MainButton.show(); //показываем главную кнопку
        WebApp.onEvent('mainButtonClicked', function () {
            WebApp.close();
        });

        let params = (new URL(document.location)).searchParams;
        let us_id = params.get("us_id");

        $(document).on('click', '#bn_save', function () {
            document.getElementById("us_id").value = us_id;
            let name = document.getElementById("name").value;
            let phone = document.getElementById("phone").value;
            let email = document.getElementById("email").value;

            let formData = new FormData();
            formData.append("us_id", us_id);
            formData.append("name", name);
            formData.append("phone", phone);
            formData.append("email", email);
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/account_post");
            xhr.send(formData);
        });
    </script>
</head>
<body>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-primary">О покупателе</h2>
                    <p><strong><em>Имя</em></strong><em> и </em><strong><em>телефон</em></strong><em>&nbsp;могут потребоваться для обратной связи.</em><br><strong><em>Email</em></strong><em> необходим для получения чеков покупки.</em></p>
                </div>
                <form>
                    <div class="mb-3"><label class="form-label" for="name"><strong>Имя</strong></label><input class="form-control item" type="text" id="name" name="name" maxlength="100"></div>
                    <div class="mb-3"><label class="form-label" for="phone"><strong>Телефон</strong></label><input class="form-control item" type="text" id="phone" name="phone" placeholder="+7 (___) ___-____"></div>
                    <div class="mb-3"><label class="form-label" for="email"><strong>Email</strong></label><input class="form-control item" type="email" id="email" name="email" maxlength="100"></div>
                    <input id="us_id" class="form-control d-none" type="text" name="us_id" />
                    <button onclick="Telegram.WebApp.showAlert('Информация обновлена!'); Telegram.WebApp.close();" id="bn_save" class="btn btn-primary" type="submit">Сохранить</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>